
/*a{
    color: #3490dc;
}*/
.alert a.btn {
    color: $white;
    text-decoration: none;
}


#deleteForm {
    display: inline-block;

    button {
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }
}

.hide{
    display: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e0e0e0;
    border-color: #b7b7b7;
    color: #151515;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: rgb(8, 8, 8);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: $red;
}

.is-invalid .select2-container--default .select2-selection--single {
    border: 1px solid #e3342f;
}

.brand-link {
    text-align: center;
}

.user-panel{
    justify-content: center;
}

.login-logo{
    margin-bottom: 30px;
}

.uppercase{
    text-transform: uppercase;;
}

.badge{
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
}

.badge-confirmed{
    background-color: #28a745;
}
.badge-canceled{
    background-color: #dc3545;
}
.badge-absent_patient{
    background-color: #da7a21;
}
.badge-scheduled{
    background-color:  #17a2b8
}
.badge-finished{
    background-color:  #999999
}
.card-title {
    margin-bottom: 0;
}
.card.card-outline-tabs .card-header a{
    color: $blue;
}
.height-fixed{
    height: 760px;
    overflow-y: scroll;
}
.opacity{
    opacity: 0.6
}
/* Medicaments */
#medicaments-selections .row.medicaments:first-of-type .remove-medicament{
    display: none;
}
.remove-medicament{
    height: 29px;
    margin-top: 35px;
    margin-left: 10px;
}
.clone-medicaments:hover {
    cursor: pointer;
    .strong{
        text-decoration: underline;
    }
}

.login-page {
    background-image: url('./img/login-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-blend-mode: multiply;
    background-color: #b7b7b7;
}

.fc-timegrid-event .fc-event-time,
.fc-timegrid-event-condensed .fc-event-title{
    font-size: 13px !important;
}
.nav-tabs .nav-link.active{
    color: $blue;
}

/*
.clone{
    margin: auto;
    position: relative;
    top: 5px;

    &.clone-medicaments{

    }
}
*/

/*
.btn-primary {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
}


 #price-table tbody tr:first-child td .form-control{
    border: 2px solid #b5b6b7;
    color: rgb(45, 45, 45);
}

label {
    color: #1d1d1d;
    font-size: 17px;
}
.custom-file-label{
    font-size: 14px;
}

.custom-switch {
    margin-left: 20px;
}


.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-label{
    padding: 0.5rem .5rem;
}
*/
